* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../public/img/Pembe\ Turkuaz\ Eğlenceli\ Telefon\ Duvar\ Kağıdı.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.list{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #F17D5F;



}

.col-12{
  max-width: 700px;
}
.complete{
  text-decoration: line-through;
  opacity: .7;
  color: white;
transition: all 1s ease-in-out;


}
#üst-silme{
animation: identifier 4s ease-in-out  ;

}

@keyframes identifier {
  0%{
transform: translateX(-630px);
  }

  100%{
    transform: translateX(0);
  }

}